@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}

html {
    touch-action: manipulation;
    width: 100%;
}


body {
    background-image: linear-gradient(to top, #20324a 0%, #4f6e86 100%);
    color: #d9dee8;
    font-size: 14px;
}

table {
    text-align: left;
    width: 100%;
    margin-top: 2em;
    padding: 0;
    border-spacing: 0px;
}

th {
    height: 60px;
    color: white;
    min-width: 110px;

}

hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin: 1em 0;
}

td {
    height: 80px;
    min-width: 110px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

input {
    width: 50px;
    height: 50px;
    border: 0px;
    text-align: center;
}

p {
    line-height: 60px;
    display: flex;
    justify-content:
        space-between;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 26px;
    color: white;
    font-weight: 400;
}

footer {
    font-family: "Silkscreen", monospace;
    text-shadow: 1px 1px 6px #333;
    text-align: center;
    font-size: 12px;
    margin-bottom: 5em;
}

#carrito>table tr th:nth-child(2),
#carrito>table tr th:nth-child(3),
#carrito>table tr th:nth-child(4),
#carrito>table tr td:nth-child(2),
#carrito>table tr td:nth-child(3),
#carrito>table tr td:nth-child(4),
#productos>table tr th:nth-child(2),
#productos>table tr th:nth-child(3),
#productos>table tr th:nth-child(4),
#productos>table tr td:nth-child(2),
#productos>table tr td:nth-child(3),
#productos>table tr td:nth-child(4) {
    text-align: center;
}


#carrito {
    padding: 5em 4em;
    width: 65% !important;
}

#resumen {
    background-color: #20324a77;
    box-shadow: inset 0px 1px 1px #fff3, 0px 1.5px 3px rgba(39, 46, 71, 0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5em 4em;
    width: 35%;
    color: white;
}

#productos {
    padding: 5em 5%;
    margin: auto;
}

#productos table td {
    min-width: 150px;
}

#totales {
    margin-top: 2.3em;
}

#btnLocalStorage {
    width: 140px;
    z-index: 200;
}

.activado {
    background-color: #5dc34e !important;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -5px, #418736 0 -5px 0 inset !important;
}

.vacia {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 0.9em;
    opacity: 0.66;
}

.noMostrar {
    display: none !important;
}

.separador {
    padding: 2em;
}

.contenedor {
    background-color: rgba(200, 200, 200, 0.1);
    margin: 5em auto;
    max-width: 1000px;
    width: 90%;
    box-shadow: inset 0px 1px 1px #fff3, 0px 1.5px 3px rgba(39, 46, 71, 0.2);
    border-radius: 5px;
    display: flex;
    min-height: 300px;
}

.totales {
    margin-top: 2.5em;
}

.mensaje {
    position: fixed;
    display:flex;
    align-items: end;
    justify-content: center;
    top: 0px;
    height: 60px;
    background-color: rgba(73, 73, 73, 0.356);
    padding: 1em;
    width: 100%;
    box-shadow: inset 0px 1px 1px #fff3, 0px 1.5px 3px rgba(39, 46, 71, 0.2);
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 100;
}

.right {
    text-align: right;
    font-weight: 500;
}

.left {
    font-size: 12px;
    opacity: 0.5;
    font-weight: 300;
}

.botCantMas,
.botCantMenos,
.comprar,#btnLocalStorage {
    padding-left: 8px;
    padding-right: 8px;
    background-color: #d6d6d6;
    border-radius: 4px;
    border-width: 0;
    color: #36395A;
    cursor: pointer;
    text-align: center;
    transition: height 0.1s, padding-top 0.1s, box-shadow 0.1s;
    font-size: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 5px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 6px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -5px, #aeaeba 0 -5px 0 inset;
    height: 36px;
    padding-bottom: 3px;
    
}

.comprar:active,
.botCantMas:active,
.botCantMenos:active,
#btnLocalStorage:active,
.comprar:focus,
.botCantMas:focus,
.botCantMenos:focus,
#btnLocalStorage:focus,
.comprar:hover,
.botCantMas:hover,
.botCantMenos:hover,
#btnLocalStorage:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 1px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -1px, #00000062 0 -1px 0 inset!important;
    height: 33px;
    padding-top: 5px;
}

.celdacomprar {
    vertical-align: bottom;
    padding-bottom: 22px;
}

.celdaMenosMas {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 37px;
}

.numeros {
    padding-bottom: 10px;
    margin: 0 5px;
}

.resumenTotal {
    font-weight: 500;
    font-size: 16px;
}


@media (max-width: 450px) {

    .botCantMas,
    .botCantMenos,
    .comprar {
        font-size: 10px;
    }

    #productos table td {
        min-width: 100px;
    }

    #carrito>table tr th:nth-child(3),
    #carrito>table tr td:nth-child(3),
    #carrito>table tr th:nth-child(4),
    #carrito>table tr td:nth-child(4),
    #productos>table tr th:nth-child(2),
    #productos>table tr th:nth-child(3),
    #productos>table tr td:nth-child(2),
    #productos>table tr td:nth-child(3) {
        display: none;
    }

    #carrito {
        width: 100% !important;
    }

    #resumen {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;

    }

    .contenedor {
        flex-wrap: wrap;
    }


}



@media (max-width: 600px) {

    #carrito>table tr th:nth-child(3),
    #carrito>table tr td:nth-child(3),
    #productos>table tr th:nth-child(2),
    #productos>table tr th:nth-child(3),
    #productos>table tr td:nth-child(2),
    #productos>table tr td:nth-child(3) {
        display: none;
    }

    #carrito {
        width: 100% !important;
    }

    #resumen {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .contenedor {
        flex-wrap: wrap;
    }

}

@media (min-width: 600px) and (max-width: 800px) {


    #productos>table tr th:nth-child(2),
    #productos>table tr td:nth-child(2) {
        display: none;
    }


    #carrito {
        width: 100% !important;
    }

    #resumen {
        width: 100%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .contenedor {
        flex-wrap: wrap;
    }


}

@media (min-width: 800px) and (max-width: 1000px) {

    #carrito>table tr th:nth-child(3),
    #carrito>table tr td:nth-child(3) {
        display: none;
    }

}