* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, #20324a 0%, #4f6e86 100%);
    font-family: sans-serif;
    color: #d9dee8;
    font-size: 14px;
}

table {
    text-align: left;
    width: 100%;
    margin-top: 2em;
    padding: 0;
    border-spacing: 0px;
}

th {
    min-width: 140px;
    height: 60px;
}

hr {
    border: 0;
    border-top: 1px solid #d9dee8;
}

td {
    min-width: 140px;
    height: 80px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

input {
    width: 50px;
    height: 50px;
    border: 0px;
    text-align: center;
}

p {
    line-height: 3em;
    display: flex;
    justify-content:
        space-between;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 24px;
}

#carrito>table tr th:nth-child(2),
#carrito>table tr th:nth-child(3),
#carrito>table tr th:nth-child(4),
#carrito>table tr td:nth-child(2),
#carrito>table tr td:nth-child(3),
#carrito>table tr td:nth-child(4),
#productos>table tr th:nth-child(2),
#productos>table tr th:nth-child(3),
#productos>table tr th:nth-child(4),
#productos>table tr td:nth-child(2),
#productos>table tr td:nth-child(3),
#productos>table tr td:nth-child(4) {
    text-align: center;
}


#carrito {
    padding: 4vh 5vh;
    width: 75% !important;
}

#resumen {
    background-color: #20324a77;
    box-shadow: inset 0px 1px 1px #fff3, 0px 1.5px 3px rgba(39, 46, 71, 0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 4vh;
    width: 25%;
}

#productos {
    padding: 4vh 5vh;
    margin: auto;
}

#productos table td {
    min-width: 200px;
}

#totales {
    margin-top: 2.3em;

}

.contenedor {
    background-color: rgba(200, 200, 200, 0.1);
    margin: 10vh auto;
    max-width: 1000px;
    width: 90%;
    box-shadow: inset 0px 1px 1px #fff3, 0px 1.5px 3px rgba(39, 46, 71, 0.2);
    border-radius: 5px;
    display: flex;
    min-height: 300px;
}

.right {
    text-align: right;
}


.botCantMas,
.botCantMenos,
.comprar {
    padding: 6px 10px;
    margin: 0 7px;
    border: none;
    font-size: 14px;
    font-weight: 500;

}

.comprar,
.botCantMas,
.botCantMenos {
    background-color: #ffffff2c;
    color: #d9dee8;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20);

}

.comprar:hover,
.botCantMas:hover,
.botCantMenos:hover {
    background-color: #e4e4e420;
}

.comprar:active,
.botCantMas:active,
.botCantMenos:active {
    background-color: #e4e4e400;
    transform: translateY(1px);

}

.resumenTotal {
    font-weight: 600;
    font-size: 18px;
}